@font-face
{
  font-family: 'bebasneue';
  src: url('bebasneue-webfont.eot');
  src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
  url('bebasneue-webfont.woff') format('woff'),
  url('bebasneue-webfont.ttf') format('truetype'),
  url('bebasneue-webfont.svg#bebasneue') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ---- [ global ] --------------------------------------------------------- */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: thick solid #990012;
  color: #555;
  margin-left: 15px;
  padding-left: 10px;
}

.prettyprint {
  overflow: auto;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

/* override google prettify.css */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: decimal
}

.page {
  background-color: #ffffff;
  font-family: Georgia;
}

.header {
  font-family: 'bebasneue';
  text-align: center;
}

.footer {
  position: relative;
}

.left-footer {
  bottom: 0;
  float: left;
  padding-bottom: 7px;
  padding-left: 10px;
  position: absolute;
}

.left-footer img {
  margin-right: 10px;
}

.right-footer {
  bottom: 0;
  clear: left;
  font-size: 12px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
}

.title {
  color: #222; /* fallback */
  color: rgba(100, 20, 20, 0.8);
  font-size: 144px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

.subtitle {
  color: #555;
  font-size: 24px;
  margin-top: -40px;
  padding-bottom: 10px;
}

.navigation {
  background-color: #dedede;
  border-bottom: 5px solid #595959;
  border-top: 5px solid #595959;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
}

.navigation a {
  color: #990012;
  font-size: 24px;
  line-height: 55px;
  margin-bottom: 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #ededed;
  border-bottom: thick solid #990012;
  border-top: thick solid #990012;
  padding-bottom: 18px;
  padding-top: 17px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 25px;
}

.article {
  background-color: #dedede;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.article-title {
  font-family: 'bebasneue';
  font-size: 42px;
  font-weight: normal;
  margin: 10px;
  text-align: center;
}

.article-time {
  font-style: italic;
  padding-bottom: 5px;
}

.article-content {
  padding: 10px;
}

.article-footer {
  font-size: 100px;
  line-height:30px;
  padding-bottom:20px;
  text-align: center;
  vertical-align: middle;
}

.article a {
  color: #990012;
  text-decoration: none;
}

.article a:hover {
  color: #f02311;
}

.article-image {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display :block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  -ms-interpolation-mode: bicubic;
  padding: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: auto;
}

hr {
  border-style: none;
  width: 70%;
  color: #aaaaaa;
  background-color:#000000;
  height:2px;
  margin-left:auto;
  margin-right:auto;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.prev, .next {
  display: block;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

input[type=text] {
  background-color: #ccc;
  border: thin solid #474747;
  width: 250px;
}

input[type=text]:focus {
  background-color: #fff;
}

input[type=submit] {
  background-color: #ccc;
  border: thin solid #474747;
  font-family: Georgia;
  padding: 5px 15px 5px 15px;
}

input[type=submit]:hover {
  background-color: #fff;
  border-color: #990012;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 5px rgba(240, 35, 17, 0.5);
     -moz-box-shadow: 0 1px 5px rgba(240, 35, 17, 0.5);
          box-shadow: 0 1px 5px rgba(240, 35, 17, 0.5);
}

textarea {
  background-color: #ccc;
  border: thin solid #474747;
  width: 99%;
}

textarea:focus {
  background-color: #fff;
}

textarea:focus, input:focus {
  border-color: #990012;
  outline: 0 none;
  -webkit-box-shadow: 0 1px 5px rgba(240, 35, 17, 0.5);
     -moz-box-shadow: 0 1px 5px rgba(240, 35, 17, 0.5);
          box-shadow: 0 1px 5px rgba(240, 35, 17, 0.5);
}

.error {
  color: #990012;
}

.success {
  color: #006400;
}

.details {
  padding: 10px;
  color: #fff;
}

.details h2 {
  font-family: 'bebasneue';
  font-size: 24px;
  font-weight: normal;
}

/* ---- [ desktop ]  ------------------------------------------------------- */

@media all and (min-width: 1000px) {
  body {
   background: url('../img/back.png') repeat fixed;
  }
  .page {
    margin: 15px auto 15px auto;
    width: 900px;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
  }

  .leftbox {
    float: left;
    width: 402px;
  }

  .rightbox {
    float: right;
    width: 402px;
  }
}

/* ---- [ tablet ] --------------------------------------------------------- */

@media all and (max-width: 999px) {
  .title {
    font-size: 120px;
  }
  .mosaic-block {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .bar2 .mosaic-overlay {
    height: 140px;
    bottom: 0px;
  }
}

/* ---- [ mobile ] --------------------------------------------------------- */

@media all and (max-width: 600px) {
  .title {
    font-size: 60px;
  }
  .content {
    padding: 0;
    padding-top: 25px;
  }
  .footer {
    padding-top: 10px;
    font-size: 8px;
  }

  .left-footer, .right-footer{
    float: none;
    position: relative;
    text-align: center;
  }
  .subtitle {
    font-size: 16px;
    margin-top: -25px;
  }
  .navigation a {
    font-size: 20px;
    line-height: 50px;
    padding: 5px;
  }
  .navigation a:hover {
    padding-bottom: 17px;
  }
  .article-title {
    font-size: 32px;
  }
  input[type=text] {
    width: 100%;
  }
  input[type=submit] {
    width: 100%;
  }
}
