{% extends 'layout.twig' %}

{% block content %}
  {% set article = {
    'title': 'ERROR 404',
    'content': '<p>Looks like we took a wrong turn somewhere :(</p>'
  } %}
  {% include 'article.twig' %}
{% endblock %}
