{% extends 'layout.twig' %}

{% block content %}
  {% set article = {
    'title': 'About Me',
    'content': '<p>Hello, I am Cezary Wojcik. I am currently a student studying Computer Science and Mathematics at Oregon State University. I am a Web Developer and an iPhone Developer.</p><p>You can check out my GitHub page <a href="https://github.com/cezarywojcik">here</a>.</p><p>You should also check out my <a href="/gallery">gallery.</a></p>'
  } %}
  {% include 'article.twig' %}
{% endblock %}
