{% extends 'layout.twig' %}

{% block content %}
  {% set article = {
    'title': 'About Me',
    'content': '<p>Hello, I am Cezary Wojcik. I am currently a student studying Computer Science and Mathematics at Oregon State University. I am a Web Developer and an iPhone Developer. I believe that my greatest skill is my rapid learning/adapting ability.</p>
    <p>I have experience with the following languages, frameworks, and/or utilities:</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>Backbone.js</li>
      <li>Angular.js</li>
      <li>Node.js (including Express 3, Socket.io, and Mongoose/MongoDB)</li>
      <li>Three.js</li>
      <li>PHP</li>
      <li>SQL</li>
      <li>Objective-C (iPhone Development)</li>
      <li>Java</li>
      <li>C++</li>
      <li>Git</li>
    </ul>
    <p>You can check out my GitHub page <a href="https://github.com/cezarywojcik">here</a>.</p>
    <p>You should also check out my <a href="/gallery">gallery.</a></p>'
  } %}
  {% include 'article.twig' %}
{% endblock %}
