{% spaceless %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CezaryWojcik.com - {{ title }}</title>
    <link rel="alternate" href="/rss" title="My RSS Feed" type="application/rss+xml">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
    {% block head %}
    {% endblock %}
    <link href="/res/css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="title">Cezary Wojcik</div>
        <div class="subtitle">Student, Web Developer, and iPhone Developer</div>
        <ul class="navigation">
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='/blog'>Blog</a>
          </li>
          <li>
            <a href='/about'>About</a>
          </li>
          <li>
            <a href='/contact'>Contact</a>
          </li>
          <li>
            <a href='/gallery'>Gallery</a>
          </li>
        </ul>
      </div>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      <div class="footer">
        <div class="left-footer">
          <a href="http://feeds.feedburner.com/CezaryWojciksBlog" title="Subscribe to my blog!" rel="alternate" type="application/rss+xml">
            <img src="/res/img/rss.png" style="border:0">
          </a>
          <a href="https://twitter.com/cezary_wojcik" title="Follow me on twitter!">
            <img src="/res/img/twitter.png" style="border:0">
          </a>
          <a href="https://github.com/cezarywojcik" title="Check out my GitHub page!">
            <img src="/res/img/github.png" style="border:0">
          </a>
          <a href="http://www.linkedin.com/profile/view?id=161049325" title="My LinkedIn Page">
            <img src="/res/img/linkedin.png" style="border:0">
          </a>
        </div>
        <div class="right-footer">Copyright (C) 2013 Cezary Wojcik</div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- Google Analytics -->
    <script>var _gaq=_gaq||[];var pluginUrl="//www.google-analytics.com/plugins/ga/inpage_linkid.js";_gaq.push(["_require","inpage_linkid",pluginUrl]);_gaq.push(["_setAccount","UA-35612201-1"]);_gaq.push(["_trackPageview"]);(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();</script>
    <!-- Retina.js -->
    <script src="/res/lib/retina.js"></script>
  </body>
</html>
{% endspaceless %}
